* {
    font-family: 'Noto Sans JP', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

button, input[type=file]::-webkit-file-upload-button {
    border-width: 2px;
    border-style: solid;
    border-color: #520e47;
    border-radius: 4px;

    font-size: 18px;
    padding: 0.5em 2em;
    background-color: #eeeeee;
    cursor: pointer;
}

button:hover, input[type=file]::-webkit-file-upload-button:hover {
    background-color: #520e47;
    color: white;
}

#align-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: left;
    margin: 2em;
    width: 45%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

form {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
} 

h1 {
    display: flex;
    align-self: center;
    width: 38%;
    word-spacing: 5px;
    font-size: 30px;
}

#align-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: right;
    margin: 2em;
    width: 45%;
    padding: 0em 2em;
}

.input-type {
    width: 270px;
}

.img-div {
    width: 300px;
    height: 300px;

    border-width: 3px;
    border-style: solid;
    border-color: #520e47;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}